/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150518
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");


/* 

   ETIQUETAS 
   dar un estilo general o base a toda la Web	

*/

body{
/* 	background: url('../img/back2.jpg'); */
	font-family: arial;
}
a{
	text-decoration:none;
}



a:hover{
	color: orange;
}

/*Sprite*/






 

/* Recomendable en la impresion */

/* a:hover a:after  { content: " (" attr(href) ") "; } */
ol, ul {
	list-style-type: disc;
}

li{ 
	margin-bottom:8px;
}

ol h3, ul h3 {
	font-weight:bold;
	margin-bottom:15px;
}


ol ol, ul ul{
	margin-left:20px;
	list-style-type: circle;
}


h1 {	
  font-size: 45px;
  margin-bottom:20px;
  rgb(82, 120, 137);
  font-family: arial;
  text-align: center;	
}

strong{
	font-weight:bold;
}

p{
	font-family: arial;
	font-size:16px;
	text-align:justify;
	line-height:20px;
}


fieldset{
	border:1px solid grey;
	padding:20px 30px;
	
	margin-botom:20px;
}

legend{
	
	font-weight: bold
}


article h1{
	
	background-color:rgb(223, 201, 201);
}


article footer{
	
	border: 1px solid grey;
	padding:15px;
}

section{
	
/* 	border: 1px solid grey; */
	width: 75%;
	float:left;
}


aside{ 
	

/* border: 1px solid grey; */
background: grey;
float: left;
margin-right: 0px;
width: 19%;
padding: 5px 0px 5px 30px;
height: 500px;
position: absolute;
right: 70px;
bottom: 0px;
top: 110px;
 } 




 footer{ 
 	
/*  	border:1px solid gray; */
/* 	margin-bottom: 0px; */
	float:left;
 	clear:left;
	
 } 
 
  
 #head{
 position:fixed;
 background-color:#FFF;
 margin-top:10px;
 z-index: 100;
 }
 
 
 #head #logo, #head h1{
 float:left;
 }
 
 
 
 
 /*MENU*/
 
 
 .navi * {
	margin: 0px;
	padding: 0px;
}

#cnt_menu {
	margin: auto;
	width: 700px;
	font-family: Arial, Helvetica, sans-serif;
	position:fixed;
	top:60px;
}

.navi, .navi ul, ol {
	list-style: none;
}

.navi >li {
	float: left;
}

.navi li a, .navi li h3 {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}


.navi li a:hover, .navi li h3:hover {
	background-color: #434343;
}

.navi li ul {
	display: none;
	position: absolute;
	min-width: 160px;
}

.navi li:hover>ul {
	display: block;
}

.navi li ul li {
	position: relative;
}

.navi li ul li ul {
	right: -160px;
	top: 0px;
}

/*contenedor*/

#content{
	padding-top: 100px;
	width: 100%;
	}


/*
Validaciones formularios
*/
form input[type="text"]:required:valid{
	
/* 	border:5px solid green; */

background-color:green;
	
	
}

form input[type="text"]:focus:required:invalid{
	
	border:5px solid red;
	
}

/*Clases comunes*/


.cnt_article{
	
	border: 1px solid grey;
	padding: 20px;
	
	
}

/************************
ClearFix
**********************/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }






/* 
	ESTILOS REUTILIZABLES
    Regla con selector por CLASS para usar en todas las páginas
*/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


table.tabla_azul, .tabla_azul tr, .tabla_azul td{
	border:1px solid grey;
	text-align: center;
	font-family: arial;
	font-size: 35px;  
	color: #0099FF;    
}

.tabla_azul th, .tabla_azul td {
  padding: 10px;  
  height: 40px;
}

.tabla_azul th{
  color: grey;	
}

table.tabla_calc, .tabla_calc tr, .tabla_calc td{
	border:1px solid grey;
	text-align: center;
	font-family: arial;
	font-size: 35px;  
	color: #0099FF;    
}





.btn_volver{
	background-color:#DDDDDD;
}

.numero{
  color: #0099FF;
  font-family: arial;
  font-size: 150px;		
}

.hightlight{
	background-color: yellow;
}

.verde{
	color:green;	
}




/*
	PAGINAS
	Tendremos una seccion por cada pagina de nuestra Web

*/

/*NAV*/

#logo img{
	width: 45px;
	height:45px;

}

/* HOME */

/* #home section, #home aside{float:left;} */

/* #home secion{width: 60%; margin-right:9%;} */
/* #home aside{width: 26%; back-ground:#DDD; min-height:300px;padding:2%} */

#home{
	width: 90%;
	margin: 0 auto;
	

}

/* CARTELERA */

#cartelera li{
	
	float:left;
	width:30%;
	margin-right:1%;
}
#cartelera ul{
	float:left;
	padding-left: 17%;
	list-style-type: none;
	
}

#cartelera .cartel img{
	width:230px;
}

#cartelera li:nth-child(3n+0){
	margin-rigt:0;
}

#cartelera .cartel{
	
	position:relative;
	width:200px;
}

#cartelera .titulo{
	position: absolute;
	bottom: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 90%;
	padding: 1% 5%;
	min-height: 37px;
	display: none;
	}

#cartelera .cartel:hover .titulo{ display: block}

#cartelera .titulo h3{
	
	color:rgba(34, 147, 152, 1);
	text-align: center;
}



/* #cartelera li h3{ */
/*   color: #0076EC; */
/*   font-family: "dinengschriftstd", "Another Font", generic; */
/*   font-size: 25px; */
/*   font-weight: bold;   */
/* } */

/* #cartelera li h3:hover{ */
/* 	color: orange; */
/* } */


/* CARTELERA_DETALLE */
 #cartelera_detalle { 
/* 	color:blue; */
	text-align:left; 
	padding-top: 70px;
 } 


/* Regla con selector por ID */
#dado{
	width:200px;
	height: 200px;
}

#encabezado{
	border:5px dotted green;
	padding-top: 80px;
	
}

#container{
	width: 90%;
	background-color: #FFF;
	min-height: 700px;
	margin: 0 auto;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	clear: both;}



#ficha{
	/*float:left;*/
	width:580px;
	min-height: 360px;
	margin-bottom: 20px;	
	
}

#ficha p{
	
	font-size:35px;
	line-height:45px;
}

#ficha .destacado{
	color:green;
	font-weight:600;
}

#sinopsis{
  /*float: left;*/
  height: 200px;
  overflow: scroll;
}  





